/* page */
#name {
    height: 100vh;
    margin: auto 0;
    display: none;
    text-align: center;
}

#name .prompt {
    margin: 50px 0;
}

#name .prompt h1 {
    font-size: 2rem;
}

#name .input {
    margin: 50px 0;
}

#name .input input[type=text] {
    padding: 0 6px;
    border: 4px solid black;
    border-radius: 6px;
    line-height: 46px;
    font-size: 1.6rem;
}

#name .button a {
    padding: 24px 50px;
    font-size: 1.1rem;
    text-decoration: none;
}