/* page */
#question {
    margin: 0;
    padding: 0;
    width: 100%;
    display: none;
}

/* header */
#question header {
    margin: 50px 0;
}

#question header .progress {
    margin: 0 auto;
    width: 500px; /* mobile:  */
}

#question header .progress .bar {
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 100px;
    padding: 0 20px;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    text-align: end;
    color: white;
    line-height: 40px;
}

#question header .progress .bar span {
    color: orange;
}

#question header .progress .image {
    box-sizing: border-box;
    padding-right: 40%;
    margin: 0 auto;
    width: 100%;
    height: 0px;
}

#question header .progress .image img {
    height: 130px;
    margin-top: -90px;
}

/* question */
#question .question {
    margin: 50px auto;
    padding: 0 4%;
}

#question .question .text {
    margin: 20px 0;
    font-size: 2rem;
    text-align: center;
}

#question .question .image {
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

#question .question .image img {
    height: 300px;
}

/* choices */
#question .choices {
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#question .choices > a {
    box-sizing: border-box;
    text-align: center;
    width: 300px;
    padding: 24px 32px;
    background: center no-repeat url("../images/button.png");
    background-size: 100% 100%;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}

/* footer */
#question footer {
    margin: 50px 0;
}